.clickableBand {
	cursor:pointer;
}

.scrollToTop{
	position:fixed;
	display:none;
}

.hidden {
    display: none;
}

body {
	padding-top: 70px; 
}

.artist-image {
    margin-top: 10px;
    margin-left: 10px;
}